@import "../../../styles/mixins";
@import "../../../styles/variables";

@keyframes slide {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(-100%);
  }
}

.gradgen {
  @include content-container();
  padding: 0;

  &__tab-container {
    @include flex($jc: flex-start);
    border-bottom: 1px solid $secondary-color;
    width: 100%;

    & > .add-btn {
      width: 2rem;
      aspect-ratio: 1;
      @include flex($ai: center);
      color: $copied-color;
      font-size: 1.5rem;
      transition: background-color 0.5s ease;

      &.active,
      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  &__main-container {
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 1fr;
    padding: 0.5rem;
    background-color: $bg-color;
    gap: 2.5rem;

    .md-lg-option-container {
      @include flex();
      display: none;

      & > .option-container {
        width: 100%;
      }
    }

    @include media($resolution: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .main-option-container {
        display: none;
      }

      .md-lg-option-container {
        display: flex;
      }
    }

    @include media($resolution: 992px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;

      .main-option-container {
        display: flex;

        .option-container {
          width: 100%;
        }
      }

      .md-lg-option-container {
        display: none;
      }
    }

    & > * {
      grid-column: span 1;
      width: 100%;
      height: 100%;
    }

    .main-container {
      &__color-list {
        @include flex($d: column, $g: 1rem);

        @include media($resolution: 992px) {
          justify-content: flex-start;
        }
      }

      &__grad-options {
        .grad-options {
          &__container {
            @include flex($d: column, $jc: flex-start, $ai: flex-start);

            & > div {
              width: 100%;
            }
            .option-container__title {
              text-align: center;
              margin: 1rem 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
