@import "../../../styles/mixins";
@import "../../../styles/variables";

.color-list {
  width: 100%;
  &__list {
    width: 100%;
    max-height: 10rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    border: 2px solid $secondary-color;
    padding: 0.5rem;
    overflow-y: auto;

    & > li {
      cursor: pointer;
      grid-column: span 1;
      aspect-ratio: 1;
      position: relative;

      & > div {
        width: 100%;
        height: 100%;
        pointer-events: none;
        box-shadow: 0 0 0 1px $secondary-color inset;
      }
      &.active > div {
        box-shadow: 0 0 0 4px #0a0 inset;
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      &:hover::before {
        opacity: 1;
      }

      & > button {
        @extend %danger-button;
      }
    }

    & > p {
      padding: 0.5rem;
      grid-column: span 4;
      text-align: center;
    }
  }
  &__form {
    padding: 0.25rem;
    border: 2px solid $secondary-color;
    @include flex($ai: flex-start);

    & > * {
      height: 2.5rem;
    }

    & > input[type="color"] {
      width: 50%;
      margin: 0 0.5rem;
      border: none;
      outline: none;
      box-shadow: none;

      &::-webkit-color-swatch {
        appearance: none;
        padding: 1.2rem 0;
        box-shadow: 0 0 0 5px $bg-color;
      }
    }
    & > button {
      margin: 0.2rem 0;
      width: 20%;
      font-size: 1.2rem;
      background-color: #0a0;
      color: inherit;
      border: 1px solid white;

      &:first-child {
        background-color: #a00;
      }
    }
  }

  & > h3 {
    text-align: center;
  }
}
